/Practice_1/cmake-build-debug/
/Practice_1/CMakeLists.txt
/Practice_2/CMakeLists.txt
/Practice_2/cmake-build-debug/
/Practice_3/cmake-build-debug/
/Practice_3/CMakeLists.txt
/Practice_3/lib/
/Practice_3/.idea/
/Practice_2/.idea/